
@tailwind base;

@layer base {
  :root {
    --background: 240 10% 15%;
    --foreground: 0 0% 95%;
    --card: 240 10% 20%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 198 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 80% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 10% 25%;
    --muted-foreground: 240 10% 70%;
    --accent: 195 80% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 240 10% 60%;
    --radius: 0.25rem;

    --sidebar-background: 240 10% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 200 90% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 20%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 240 10% 25%;
    --sidebar-ring: 217 90% 60%;

    --terminal-bright-green: #4AFF61;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-terminal-background text-terminal-foreground font-mono;
    font-family: 'JetBrains Mono', Menlo, Monaco, 'Courier New', monospace;
    color: #fff;
  }
  * {
    @apply border-border;
  }
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
